.color-1 { color: #01F33E; }
.color-2 { color: #01FCEF; }
.color-3 { color: #03EBA6; }
.color-4 { color: #03F3AB; }
.color-5 { color: #06DCFB; }
.color-6 { color: #0AFE47; }
.color-7 { color: #1FCB4A; }
.color-8 { color: #1FFEF3; }
.color-9 { color: #23819C; }
.color-10 { color: #24E0FB; }
.color-11 { color: #27DE55; }
.color-12 { color: #2897B7; }
.color-13 { color: #2966B8; }
.color-14 { color: #2DC800; }
.color-15 { color: #2F74D0; }
.color-16 { color: #2FAACE; }
.color-17 { color: #32DF00; }
.color-18 { color: #33FDC0; }
.color-19 { color: #36F200; }
.color-20 { color: #3923D6; }
.color-21 { color: #3DE4FC; }
.color-22 { color: #44B4D5; }
.color-23 { color: #48FB0D; }
.color-24 { color: #4985D6; }
.color-25 { color: #4AE371; }
.color-26 { color: #4BFE78; }
.color-27 { color: #52FF20; }
.color-28 { color: #5757FF; }
.color-29 { color: #57BCD9; }
.color-30 { color: #59955C; }
.color-31 { color: #59DF00; }
.color-32 { color: #5FFEF7; }
.color-33 { color: #6094DB; }
.color-34 { color: #61F200; }
.color-35 { color: #62A9FF; }
.color-36 { color: #62D0FF; }
.color-37 { color: #62FDCE; }
.color-38 { color: #63E9FC; }
.color-39 { color: #66FF00; }
.color-40 { color: #6755E3; }
.color-41 { color: #6A6AFF; }
.color-42 { color: #6CA870; }
.color-43 { color: #6FFF44; }
.color-44 { color: #72FE95; }
.color-45 { color: #74FEF8; }
.color-46 { color: #75B4FF; }
.color-47 { color: #75D6FF; }
.color-48 { color: #75ECFD; }
.color-49 { color: #7979FF; }
.color-50 { color: #79FC4E; }
.color-51 { color: #7BA7E1; }
.color-52 { color: #7BCAE1; }
.color-53 { color: #7CEB98; }
.color-54 { color: #7DFDD7; }
.color-55 { color: #800080; }
.color-56 { color: #80B584; }
.color-57 { color: #8678E9; }
.color-58 { color: #86BCFF; }
.color-59 { color: #872187; }
.color-60 { color: #892EE4; }
.color-61 { color: #89FC63; }
.color-62 { color: #8ADCFF; }
.color-63 { color: #8BFEA8; }
.color-64 { color: #8C8CFF; }
.color-65 { color: #8CD1E6; }
.color-66 { color: #8CEFFD; }
.color-67 { color: #8EB4E6; }
.color-68 { color: #8FFEDD; }
.color-69 { color: #8FFF6F; }
.color-70 { color: #92FEF9; }
.color-71 { color: #93BF96; }
.color-72 { color: #93EEAA; }
.color-73 { color: #9588EC; }
.color-74 { color: #95FF4F; }
.color-75 { color: #9669FE; }
.color-76 { color: #9999FF; }
.color-77 { color: #99C7FF; }
.color-78 { color: #99C7FF; }
.color-79 { color: #99E0FF; }
.color-80 { color: #99FD77; }
.color-81 { color: #9A03FE; }
.color-82 { color: #9B4EE9; }
.color-83 { color: #9D9D00; }
.color-84 { color: #A095EE; }
.color-85 { color: #A27AFE; }
.color-86 { color: #A3FEBA; }
.color-87 { color: #A4F0B7; }
.color-88 { color: #A55FEB; }
.color-89 { color: #A5DBEB; }
.color-90 { color: #A5FEE3; }
.color-91 { color: #A5FEFA; }
.color-92 { color: #A5FF8A; }
.color-93 { color: #A6CAA9; }
.color-94 { color: #A827FE; }
.color-95 { color: #A8CFFF; }
.color-96 { color: #A8E4FF; }
.color-97 { color: #A9C5EB; }
.color-98 { color: #AAAAFF; }
.color-99 { color: #AAFD8E; }
.color-100 { color: #ABFF73; }
.color-101 { color: #ACF3FD; }
.color-102 { color: #AD8BFE; }
.color-103 { color: #AE70ED; }
.color-104 { color: #AE70ED; }
.color-105 { color: #B0A7F1; }
.color-106 { color: #B3FF99; }
.color-107 { color: #B445FE; }
.color-108 { color: #B4D1B6; }
.color-109 { color: #B5FFC8; }
.color-110 { color: #B5FFFC; }
.color-111 { color: #B6BA18; }
.color-112 { color: #B89AFE; }
.color-113 { color: #B8E2EF; }
.color-114 { color: #BAD0EF; }
.color-115 { color: #BAFEA3; }
.color-116 { color: #BBBBFF; }
.color-117 { color: #BBDAFF; }
.color-118 { color: #BBEBFF; }
.color-119 { color: #BC2EBC; }
.color-120 { color: #BCB4F3; }
.color-121 { color: #BD5CFE; }
.color-122 { color: #BDF4CB; }
.color-123 { color: #BDFFEA; }
.color-124 { color: #BEFEEB; }
.color-125 { color: #BF00BF; }
.color-126 { color: #C0F7FE; }
.color-127 { color: #C0F7FE; }
.color-128 { color: #C0FF97; }
.color-129 { color: #C269FE; }
.color-130 { color: #C4ABFE; }
.color-131 { color: #C79BF2; }
.color-132 { color: #C8C800; }
.color-133 { color: #C9DECB; }
.color-134 { color: #C9EAF3; }
.color-135 { color: #CACAFF; }
.color-136 { color: #CAFEB8; }
.color-137 { color: #CAFFD8; }
.color-138 { color: #CBC5F5; }
.color-139 { color: #CD85FE; }
.color-140 { color: #CDD11B; }
.color-141 { color: #CEA8F4; }
.color-142 { color: #CEDEF4; }
.color-143 { color: #CEF0FF; }
.color-144 { color: #CEFFFD; }
.color-145 { color: #CFFEF0; }
.color-146 { color: #D0BCFE; }
.color-147 { color: #D0E6FF; }
.color-148 { color: #D1FFB3; }
.color-149 { color: #D2FFC4; }
.color-150 { color: #D54FD5; }
.color-151 { color: #D568FD; }
.color-152 { color: #D698FE; }
.color-153 { color: #D6F8DE; }
.color-154 { color: #D7D1F8; }
.color-155 { color: #D97BFD; }
.color-156 { color: #D9F3FF; }
.color-157 { color: #DB00DB; }
.color-158 { color: #DBBFF7; }
.color-159 { color: #DBEADC; }
.color-160 { color: #DBEBFF; }
.color-161 { color: #DBF0F7; }
.color-162 { color: #DD75DD; }
.color-163 { color: #DD75DD; }
.color-164 { color: #DD88FD; }
.color-165 { color: #DDCEFF; }
.color-166 { color: #DDFED1; }
.color-167 { color: #DFB0FF; }
.color-168 { color: #DFDF00; }
.color-169 { color: #DFE32D; }
.color-170 { color: #DFFFCA; }
.color-171 { color: #E0EAF8; }
.color-172 { color: #E1CAF9; }
.color-173 { color: #E1E1FF; }
.color-174 { color: #E1FFFE; }
.color-175 { color: #E29BFD; }
.color-176 { color: #E3E0FA; }
.color-177 { color: #E3FBE9; }
.color-178 { color: #E3FBE9; }
.color-179 { color: #E469FE; }
.color-180 { color: #E697E6; }
.color-181 { color: #E6DBFF; }
.color-182 { color: #E6FCFF; }
.color-183 { color: #E77AFE; }
.color-184 { color: #E7A9FE; }
.color-185 { color: #E7FFDF; }
.color-186 { color: #E8C6FF; }
.color-187 { color: #E8FFD9; }
.color-188 { color: #E9F1EA; }
.color-189 { color: #EA8DFE; }
.color-190 { color: #EAA6EA; }
.color-191 { color: #EAF1FB; }
.color-192 { color: #EAFEE2; }
.color-193 { color: #EAFFEF; }
.color-194 { color: #EAFFEF; }
.color-195 { color: #ECF4FF; }
.color-196 { color: #ECFAFF; }
.color-197 { color: #ED9EFE; }
.color-198 { color: #EDBEFE; }
.color-199 { color: #EDDFFB; }
.color-200 { color: #EDEF85; }
.color-201 { color: #EEBBEE; }
.color-202 { color: #EEEEFF; }
.color-203 { color: #EEF093; }
.color-204 { color: #EFA9FE; }
.color-205 { color: #EFD7FF; }
.color-206 { color: #EFEDFC; }
.color-207 { color: #F0C4F0; }
.color-208 { color: #F0CBFE; }
.color-209 { color: #F1ECFF; }
.color-210 { color: #F1FEED; }
.color-211 { color: #F2BCFE; }
.color-212 { color: #F2F4B3; }
.color-213 { color: #F2FFEA; }
.color-214 { color: #F2FFFE; }
.color-215 { color: #F3F8F4; }
.color-216 { color: #F4D2F4; }
.color-217 { color: #F4D2F4; }
.color-218 { color: #F4DCFE; }
.color-219 { color: #F5CAFF; }
.color-220 { color: #F5EEFD; }
.color-221 { color: #F5F7C4; }
.color-222 { color: #F7F9D0; }
.color-223 { color: #F900F9; }
.color-224 { color: #F9D9FF; }
.color-225 { color: #F9EEFF; }
.color-226 { color: #F9FDFF; }
.color-227 { color: #FAECFF; }
.color-228 { color: #FAFBDF; }
.color-229 { color: #FCFCE9; }
.color-230 { color: #FDF2FF; }
.color-231 { color: #FE67EB; }
.color-232 { color: #FE67EB; }
.color-233 { color: #FE8BF0; }
.color-234 { color: #FE98F1; }
.color-235 { color: #FEA9F3; }
.color-236 { color: #FF4848; }
.color-237 { color: #FF4AFF; }
.color-238 { color: #FF62B0; }
.color-239 { color: #FF68DD; }
.color-240 { color: #FF73B9; }
.color-241 { color: #FF7575; }
.color-242 { color: #FF79E1; }
.color-243 { color: #FF86C2; }
.color-244 { color: #FF86E3; }
.color-245 { color: #FF86FF; }
.color-246 { color: #FF8A8A; }
.color-247 { color: #FF9797; }
.color-248 { color: #FF97CB; }
.color-249 { color: #FF97E8; }
.color-250 { color: #FFA4FF; }
.color-251 { color: #FFA8A8; }
.color-252 { color: #FFA8D3; }
.color-253 { color: #FFACEC; }
.color-254 { color: #FFACEC; }
.color-255 { color: #FFBBBB; }
.color-256 { color: #FFBBDD; }
.color-257 { color: #FFBBF7; }
.color-258 { color: #FFBBFF; }
.color-259 { color: #FFC8E3; }
.color-260 { color: #FFC8F2; }
.color-261 { color: #FFCAF9; }
.color-262 { color: #FFCECE; }
.color-263 { color: #FFCEFF; }
.color-264 { color: #FFDBFB; }
.color-265 { color: #FFDFDF; }
.color-266 { color: #FFDFEF; }
.color-267 { color: #FFDFF8; }
.color-268 { color: #FFDFFF; }
.color-269 { color: #FFECEC; }
.color-270 { color: #FFECF5; }
.color-271 { color: #FFECFF; }
.color-272 { color: #FFEEFB; }
.color-273 { color: #FFEEFD; }
.color-274 { color: #FFFF84; }
.color-275 { color: #FFFF99; }
.color-276 { color: #FFFFAA; }
.color-277 { color: #FFFFB5; }
.color-278 { color: #FFFFC8; }
.color-279 { color: #FFFFD7; }
.color-280 { color: #FFFFE3; }
