.color-1 { color: #01F33E; }
.color-2 { color: #01FCEF; }
.color-3 { color: #03EBA6; }
.color-4 { color: #03F3AB; }
.color-5 { color: #06DCFB; }
.color-6 { color: #0AFE47; }
.color-7 { color: #1FCB4A; }
.color-8 { color: #1FFEF3; }
.color-9 { color: #23819C; }
.color-10 { color: #24E0FB; }
.color-11 { color: #27DE55; }
.color-12 { color: #2897B7; }
.color-13 { color: #2966B8; }
.color-14 { color: #2DC800; }
.color-15 { color: #2F74D0; }
.color-16 { color: #2FAACE; }
.color-17 { color: #32DF00; }
.color-18 { color: #33FDC0; }
.color-19 { color: #36F200; }
.color-20 { color: #3923D6; }
.color-21 { color: #3DE4FC; }
.color-22 { color: #44B4D5; }
.color-23 { color: #48FB0D; }
.color-24 { color: #4985D6; }
.color-25 { color: #4AE371; }
.color-26 { color: #4BFE78; }
.color-27 { color: #52FF20; }
.color-28 { color: #5757FF; }
.color-29 { color: #57BCD9; }
.color-30 { color: #59955C; }
.color-31 { color: #59DF00; }
.color-32 { color: #5FFEF7; }
.color-33 { color: #6094DB; }
.color-34 { color: #61F200; }
.color-35 { color: #62A9FF; }
.color-36 { color: #62D0FF; }
.color-37 { color: #62FDCE; }
.color-38 { color: #63E9FC; }
.color-39 { color: #66FF00; }
.color-40 { color: #6755E3; }
.color-41 { color: #6A6AFF; }
.color-42 { color: #6CA870; }
.color-43 { color: #6FFF44; }
.color-44 { color: #72FE95; }
.color-45 { color: #74FEF8; }
.color-46 { color: #75B4FF; }
.color-47 { color: #75D6FF; }
.color-48 { color: #75ECFD; }
.color-49 { color: #7979FF; }
.color-50 { color: #79FC4E; }
.color-51 { color: #7BA7E1; }
.color-52 { color: #7BCAE1; }
.color-53 { color: #7CEB98; }
.color-54 { color: #7DFDD7; }
.color-55 { color: #800080; }
.color-56 { color: #80B584; }
.color-57 { color: #8678E9; }
.color-58 { color: #86BCFF; }
.color-59 { color: #872187; }
.color-60 { color: #892EE4; }
.color-61 { color: #89FC63; }
.color-62 { color: #8ADCFF; }
.color-63 { color: #8BFEA8; }
.color-64 { color: #8C8CFF; }
.color-65 { color: #8CD1E6; }
.color-66 { color: #8CEFFD; }
.color-67 { color: #8EB4E6; }
.color-68 { color: #8FFEDD; }
.color-69 { color: #8FFF6F; }
.color-70 { color: #92FEF9; }
.color-71 { color: #93BF96; }
.color-72 { color: #93EEAA; }
.color-73 { color: #9588EC; }
.color-74 { color: #95FF4F; }
.color-75 { color: #9669FE; }
.color-76 { color: #9999FF; }
.color-77 { color: #99C7FF; }
.color-78 { color: #99C7FF; }
.color-79 { color: #99E0FF; }
.color-80 { color: #99FD77; }
.color-81 { color: #9A03FE; }
.color-82 { color: #9B4EE9; }
.color-83 { color: #9D9D00; }
.color-84 { color: #A095EE; }
.color-85 { color: #A27AFE; }
.color-86 { color: #A3FEBA; }
.color-87 { color: #A4F0B7; }
.color-88 { color: #A55FEB; }
.color-89 { color: #A5DBEB; }
.color-90 { color: #A5FEE3; }
.color-91 { color: #A5FEFA; }
.color-92 { color: #A5FF8A; }
.color-93 { color: #A6CAA9; }
.color-94 { color: #A827FE; }
.color-95 { color: #A8CFFF; }
.color-96 { color: #A8E4FF; }
.color-97 { color: #A9C5EB; }
.color-98 { color: #AAAAFF; }
.color-99 { color: #AAFD8E; }
.color-100 { color: #ABFF73; }
.color-101 { color: #ACF3FD; }
.color-102 { color: #AD8BFE; }
.color-103 { color: #AE70ED; }
.color-104 { color: #AE70ED; }
.color-105 { color: #B0A7F1; }
.color-106 { color: #B3FF99; }
.color-107 { color: #B445FE; }
.color-108 { color: #B4D1B6; }
.color-109 { color: #B5FFC8; }
.color-110 { color: #B5FFFC; }
.color-111 { color: #B6BA18; }
.color-112 { color: #B89AFE; }
.color-113 { color: #B8E2EF; }
.color-114 { color: #BAD0EF; }
.color-115 { color: #BAFEA3; }
.color-116 { color: #BBBBFF; }
.color-117 { color: #BBDAFF; }
.color-118 { color: #BBEBFF; }
.color-119 { color: #BC2EBC; }
.color-120 { color: #BCB4F3; }
.color-121 { color: #BD5CFE; }
.color-122 { color: #BDF4CB; }
.color-123 { color: #BDFFEA; }
.color-124 { color: #BEFEEB; }
.color-125 { color: #BF00BF; }
.color-126 { color: #C0F7FE; }
.color-127 { color: #C0F7FE; }
.color-128 { color: #C0FF97; }
.color-129 { color: #C269FE; }
.color-130 { color: #C4ABFE; }
.color-131 { color: #C79BF2; }
.color-132 { color: #C8C800; }
.color-133 { color: #C9DECB; }
.color-134 { color: #C9EAF3; }
.color-135 { color: #CACAFF; }
.color-136 { color: #CAFEB8; }
.color-137 { color: #CAFFD8; }
.color-138 { color: #CBC5F5; }
.color-139 { color: #CD85FE; }
.color-140 { color: #CDD11B; }
.color-141 { color: #CEA8F4; }
.color-142 { color: #CEDEF4; }
.color-143 { color: #CEF0FF; }
.color-144 { color: #CEFFFD; }
.color-145 { color: #CFFEF0; }
.color-146 { color: #D0BCFE; }
.color-147 { color: #D0E6FF; }
.color-148 { color: #D1FFB3; }
.color-149 { color: #D2FFC4; }
.color-150 { color: #D54FD5; }
.color-151 { color: #D568FD; }
.color-152 { color: #D698FE; }
.color-153 { color: #D6F8DE; }
.color-154 { color: #D7D1F8; }
.color-155 { color: #D97BFD; }
.color-156 { color: #D9F3FF; }
.color-157 { color: #DB00DB; }
.color-158 { color: #DBBFF7; }
.color-159 { color: #DBEADC; }
.color-160 { color: #DBEBFF; }
.color-161 { color: #DBF0F7; }
.color-162 { color: #DD75DD; }
.color-163 { color: #DD75DD; }
.color-164 { color: #DD88FD; }
.color-165 { color: #DDCEFF; }
.color-166 { color: #DDFED1; }
.color-167 { color: #DFB0FF; }
.color-168 { color: #DFDF00; }
.color-169 { color: #DFE32D; }
.color-170 { color: #DFFFCA; }
.color-171 { color: #E0EAF8; }
.color-172 { color: #E1CAF9; }
.color-173 { color: #E1E1FF; }
.color-174 { color: #E1FFFE; }
.color-175 { color: #E29BFD; }
.color-176 { color: #E3E0FA; }
.color-177 { color: #E3FBE9; }
.color-178 { color: #E3FBE9; }
.color-179 { color: #E469FE; }
.color-180 { color: #E697E6; }
.color-181 { color: #E6DBFF; }
.color-182 { color: #E6FCFF; }
.color-183 { color: #E77AFE; }
.color-184 { color: #E7A9FE; }
.color-185 { color: #E7FFDF; }
.color-186 { color: #E8C6FF; }
.color-187 { color: #E8FFD9; }
.color-188 { color: #E9F1EA; }
.color-189 { color: #EA8DFE; }
.color-190 { color: #EAA6EA; }
.color-191 { color: #EAF1FB; }
.color-192 { color: #EAFEE2; }
.color-193 { color: #EAFFEF; }
.color-194 { color: #EAFFEF; }
.color-195 { color: #ECF4FF; }
.color-196 { color: #ECFAFF; }
.color-197 { color: #ED9EFE; }
.color-198 { color: #EDBEFE; }
.color-199 { color: #EDDFFB; }
.color-200 { color: #EDEF85; }
.color-201 { color: #EEBBEE; }
.color-202 { color: #EEEEFF; }
.color-203 { color: #EEF093; }
.color-204 { color: #EFA9FE; }
.color-205 { color: #EFD7FF; }
.color-206 { color: #EFEDFC; }
.color-207 { color: #F0C4F0; }
.color-208 { color: #F0CBFE; }
.color-209 { color: #F1ECFF; }
.color-210 { color: #F1FEED; }
.color-211 { color: #F2BCFE; }
.color-212 { color: #F2F4B3; }
.color-213 { color: #F2FFEA; }
.color-214 { color: #F2FFFE; }
.color-215 { color: #F3F8F4; }
.color-216 { color: #F4D2F4; }
.color-217 { color: #F4D2F4; }
.color-218 { color: #F4DCFE; }
.color-219 { color: #F5CAFF; }
.color-220 { color: #F5EEFD; }
.color-221 { color: #F5F7C4; }
.color-222 { color: #F7F9D0; }
.color-223 { color: #F900F9; }
.color-224 { color: #F9D9FF; }
.color-225 { color: #F9EEFF; }
.color-226 { color: #F9FDFF; }
.color-227 { color: #FAECFF; }
.color-228 { color: #FAFBDF; }
.color-229 { color: #FCFCE9; }
.color-230 { color: #FDF2FF; }
.color-231 { color: #FE67EB; }
.color-232 { color: #FE67EB; }
.color-233 { color: #FE8BF0; }
.color-234 { color: #FE98F1; }
.color-235 { color: #FEA9F3; }
.color-236 { color: #FF4848; }
.color-237 { color: #FF4AFF; }
.color-238 { color: #FF62B0; }
.color-239 { color: #FF68DD; }
.color-240 { color: #FF73B9; }
.color-241 { color: #FF7575; }
.color-242 { color: #FF79E1; }
.color-243 { color: #FF86C2; }
.color-244 { color: #FF86E3; }
.color-245 { color: #FF86FF; }
.color-246 { color: #FF8A8A; }
.color-247 { color: #FF9797; }
.color-248 { color: #FF97CB; }
.color-249 { color: #FF97E8; }
.color-250 { color: #FFA4FF; }
.color-251 { color: #FFA8A8; }
.color-252 { color: #FFA8D3; }
.color-253 { color: #FFACEC; }
.color-254 { color: #FFACEC; }
.color-255 { color: #FFBBBB; }
.color-256 { color: #FFBBDD; }
.color-257 { color: #FFBBF7; }
.color-258 { color: #FFBBFF; }
.color-259 { color: #FFC8E3; }
.color-260 { color: #FFC8F2; }
.color-261 { color: #FFCAF9; }
.color-262 { color: #FFCECE; }
.color-263 { color: #FFCEFF; }
.color-264 { color: #FFDBFB; }
.color-265 { color: #FFDFDF; }
.color-266 { color: #FFDFEF; }
.color-267 { color: #FFDFF8; }
.color-268 { color: #FFDFFF; }
.color-269 { color: #FFECEC; }
.color-270 { color: #FFECF5; }
.color-271 { color: #FFECFF; }
.color-272 { color: #FFEEFB; }
.color-273 { color: #FFEEFD; }
.color-274 { color: #FFFF84; }
.color-275 { color: #FFFF99; }
.color-276 { color: #FFFFAA; }
.color-277 { color: #FFFFB5; }
.color-278 { color: #FFFFC8; }
.color-279 { color: #FFFFD7; }
.color-280 { color: #FFFFE3; }
.bgolor-1 { background-color: #01F33E; }
.bgolor-2 { background-color: #01FCEF; }
.bgolor-3 { background-color: #03EBA6; }
.bgolor-4 { background-color: #03F3AB; }
.bgolor-5 { background-color: #06DCFB; }
.bgolor-6 { background-color: #0AFE47; }
.bgolor-7 { background-color: #1FCB4A; }
.bgolor-8 { background-color: #1FFEF3; }
.bgolor-9 { background-color: #23819C; }
.bgolor-10 { background-color: #24E0FB; }
.bgolor-11 { background-color: #27DE55; }
.bgolor-12 { background-color: #2897B7; }
.bgolor-13 { background-color: #2966B8; }
.bgolor-14 { background-color: #2DC800; }
.bgolor-15 { background-color: #2F74D0; }
.bgolor-16 { background-color: #2FAACE; }
.bgolor-17 { background-color: #32DF00; }
.bgolor-18 { background-color: #33FDC0; }
.bgolor-19 { background-color: #36F200; }
.bgolor-20 { background-color: #3923D6; }
.bgolor-21 { background-color: #3DE4FC; }
.bgolor-22 { background-color: #44B4D5; }
.bgolor-23 { background-color: #48FB0D; }
.bgolor-24 { background-color: #4985D6; }
.bgolor-25 { background-color: #4AE371; }
.bgolor-26 { background-color: #4BFE78; }
.bgolor-27 { background-color: #52FF20; }
.bgolor-28 { background-color: #5757FF; }
.bgolor-29 { background-color: #57BCD9; }
.bgolor-30 { background-color: #59955C; }
.bgolor-31 { background-color: #59DF00; }
.bgolor-32 { background-color: #5FFEF7; }
.bgolor-33 { background-color: #6094DB; }
.bgolor-34 { background-color: #61F200; }
.bgolor-35 { background-color: #62A9FF; }
.bgolor-36 { background-color: #62D0FF; }
.bgolor-37 { background-color: #62FDCE; }
.bgolor-38 { background-color: #63E9FC; }
.bgolor-39 { background-color: #66FF00; }
.bgolor-40 { background-color: #6755E3; }
.bgolor-41 { background-color: #6A6AFF; }
.bgolor-42 { background-color: #6CA870; }
.bgolor-43 { background-color: #6FFF44; }
.bgolor-44 { background-color: #72FE95; }
.bgolor-45 { background-color: #74FEF8; }
.bgolor-46 { background-color: #75B4FF; }
.bgolor-47 { background-color: #75D6FF; }
.bgolor-48 { background-color: #75ECFD; }
.bgolor-49 { background-color: #7979FF; }
.bgolor-50 { background-color: #79FC4E; }
.bgolor-51 { background-color: #7BA7E1; }
.bgolor-52 { background-color: #7BCAE1; }
.bgolor-53 { background-color: #7CEB98; }
.bgolor-54 { background-color: #7DFDD7; }
.bgolor-55 { background-color: #800080; }
.bgolor-56 { background-color: #80B584; }
.bgolor-57 { background-color: #8678E9; }
.bgolor-58 { background-color: #86BCFF; }
.bgolor-59 { background-color: #872187; }
.bgolor-60 { background-color: #892EE4; }
.bgolor-61 { background-color: #89FC63; }
.bgolor-62 { background-color: #8ADCFF; }
.bgolor-63 { background-color: #8BFEA8; }
.bgolor-64 { background-color: #8C8CFF; }
.bgolor-65 { background-color: #8CD1E6; }
.bgolor-66 { background-color: #8CEFFD; }
.bgolor-67 { background-color: #8EB4E6; }
.bgolor-68 { background-color: #8FFEDD; }
.bgolor-69 { background-color: #8FFF6F; }
.bgolor-70 { background-color: #92FEF9; }
.bgolor-71 { background-color: #93BF96; }
.bgolor-72 { background-color: #93EEAA; }
.bgolor-73 { background-color: #9588EC; }
.bgolor-74 { background-color: #95FF4F; }
.bgolor-75 { background-color: #9669FE; }
.bgolor-76 { background-color: #9999FF; }
.bgolor-77 { background-color: #99C7FF; }
.bgolor-78 { background-color: #99C7FF; }
.bgolor-79 { background-color: #99E0FF; }
.bgolor-80 { background-color: #99FD77; }
.bgolor-81 { background-color: #9A03FE; }
.bgolor-82 { background-color: #9B4EE9; }
.bgolor-83 { background-color: #9D9D00; }
.bgolor-84 { background-color: #A095EE; }
.bgolor-85 { background-color: #A27AFE; }
.bgolor-86 { background-color: #A3FEBA; }
.bgolor-87 { background-color: #A4F0B7; }
.bgolor-88 { background-color: #A55FEB; }
.bgolor-89 { background-color: #A5DBEB; }
.bgolor-90 { background-color: #A5FEE3; }
.bgolor-91 { background-color: #A5FEFA; }
.bgolor-92 { background-color: #A5FF8A; }
.bgolor-93 { background-color: #A6CAA9; }
.bgolor-94 { background-color: #A827FE; }
.bgolor-95 { background-color: #A8CFFF; }
.bgolor-96 { background-color: #A8E4FF; }
.bgolor-97 { background-color: #A9C5EB; }
.bgolor-98 { background-color: #AAAAFF; }
.bgolor-99 { background-color: #AAFD8E; }
.bgolor-100 { background-color: #ABFF73; }
.bgolor-101 { background-color: #ACF3FD; }
.bgolor-102 { background-color: #AD8BFE; }
.bgolor-103 { background-color: #AE70ED; }
.bgolor-104 { background-color: #AE70ED; }
.bgolor-105 { background-color: #B0A7F1; }
.bgolor-106 { background-color: #B3FF99; }
.bgolor-107 { background-color: #B445FE; }
.bgolor-108 { background-color: #B4D1B6; }
.bgolor-109 { background-color: #B5FFC8; }
.bgolor-110 { background-color: #B5FFFC; }
.bgolor-111 { background-color: #B6BA18; }
.bgolor-112 { background-color: #B89AFE; }
.bgolor-113 { background-color: #B8E2EF; }
.bgolor-114 { background-color: #BAD0EF; }
.bgolor-115 { background-color: #BAFEA3; }
.bgolor-116 { background-color: #BBBBFF; }
.bgolor-117 { background-color: #BBDAFF; }
.bgolor-118 { background-color: #BBEBFF; }
.bgolor-119 { background-color: #BC2EBC; }
.bgolor-120 { background-color: #BCB4F3; }
.bgolor-121 { background-color: #BD5CFE; }
.bgolor-122 { background-color: #BDF4CB; }
.bgolor-123 { background-color: #BDFFEA; }
.bgolor-124 { background-color: #BEFEEB; }
.bgolor-125 { background-color: #BF00BF; }
.bgolor-126 { background-color: #C0F7FE; }
.bgolor-127 { background-color: #C0F7FE; }
.bgolor-128 { background-color: #C0FF97; }
.bgolor-129 { background-color: #C269FE; }
.bgolor-130 { background-color: #C4ABFE; }
.bgolor-131 { background-color: #C79BF2; }
.bgolor-132 { background-color: #C8C800; }
.bgolor-133 { background-color: #C9DECB; }
.bgolor-134 { background-color: #C9EAF3; }
.bgolor-135 { background-color: #CACAFF; }
.bgolor-136 { background-color: #CAFEB8; }
.bgolor-137 { background-color: #CAFFD8; }
.bgolor-138 { background-color: #CBC5F5; }
.bgolor-139 { background-color: #CD85FE; }
.bgolor-140 { background-color: #CDD11B; }
.bgolor-141 { background-color: #CEA8F4; }
.bgolor-142 { background-color: #CEDEF4; }
.bgolor-143 { background-color: #CEF0FF; }
.bgolor-144 { background-color: #CEFFFD; }
.bgolor-145 { background-color: #CFFEF0; }
.bgolor-146 { background-color: #D0BCFE; }
.bgolor-147 { background-color: #D0E6FF; }
.bgolor-148 { background-color: #D1FFB3; }
.bgolor-149 { background-color: #D2FFC4; }
.bgolor-150 { background-color: #D54FD5; }
.bgolor-151 { background-color: #D568FD; }
.bgolor-152 { background-color: #D698FE; }
.bgolor-153 { background-color: #D6F8DE; }
.bgolor-154 { background-color: #D7D1F8; }
.bgolor-155 { background-color: #D97BFD; }
.bgolor-156 { background-color: #D9F3FF; }
.bgolor-157 { background-color: #DB00DB; }
.bgolor-158 { background-color: #DBBFF7; }
.bgolor-159 { background-color: #DBEADC; }
.bgolor-160 { background-color: #DBEBFF; }
.bgolor-161 { background-color: #DBF0F7; }
.bgolor-162 { background-color: #DD75DD; }
.bgolor-163 { background-color: #DD75DD; }
.bgolor-164 { background-color: #DD88FD; }
.bgolor-165 { background-color: #DDCEFF; }
.bgolor-166 { background-color: #DDFED1; }
.bgolor-167 { background-color: #DFB0FF; }
.bgolor-168 { background-color: #DFDF00; }
.bgolor-169 { background-color: #DFE32D; }
.bgolor-170 { background-color: #DFFFCA; }
.bgolor-171 { background-color: #E0EAF8; }
.bgolor-172 { background-color: #E1CAF9; }
.bgolor-173 { background-color: #E1E1FF; }
.bgolor-174 { background-color: #E1FFFE; }
.bgolor-175 { background-color: #E29BFD; }
.bgolor-176 { background-color: #E3E0FA; }
.bgolor-177 { background-color: #E3FBE9; }
.bgolor-178 { background-color: #E3FBE9; }
.bgolor-179 { background-color: #E469FE; }
.bgolor-180 { background-color: #E697E6; }
.bgolor-181 { background-color: #E6DBFF; }
.bgolor-182 { background-color: #E6FCFF; }
.bgolor-183 { background-color: #E77AFE; }
.bgolor-184 { background-color: #E7A9FE; }
.bgolor-185 { background-color: #E7FFDF; }
.bgolor-186 { background-color: #E8C6FF; }
.bgolor-187 { background-color: #E8FFD9; }
.bgolor-188 { background-color: #E9F1EA; }
.bgolor-189 { background-color: #EA8DFE; }
.bgolor-190 { background-color: #EAA6EA; }
.bgolor-191 { background-color: #EAF1FB; }
.bgolor-192 { background-color: #EAFEE2; }
.bgolor-193 { background-color: #EAFFEF; }
.bgolor-194 { background-color: #EAFFEF; }
.bgolor-195 { background-color: #ECF4FF; }
.bgolor-196 { background-color: #ECFAFF; }
.bgolor-197 { background-color: #ED9EFE; }
.bgolor-198 { background-color: #EDBEFE; }
.bgolor-199 { background-color: #EDDFFB; }
.bgolor-200 { background-color: #EDEF85; }
.bgolor-201 { background-color: #EEBBEE; }
.bgolor-202 { background-color: #EEEEFF; }
.bgolor-203 { background-color: #EEF093; }
.bgolor-204 { background-color: #EFA9FE; }
.bgolor-205 { background-color: #EFD7FF; }
.bgolor-206 { background-color: #EFEDFC; }
.bgolor-207 { background-color: #F0C4F0; }
.bgolor-208 { background-color: #F0CBFE; }
.bgolor-209 { background-color: #F1ECFF; }
.bgolor-210 { background-color: #F1FEED; }
.bgolor-211 { background-color: #F2BCFE; }
.bgolor-212 { background-color: #F2F4B3; }
.bgolor-213 { background-color: #F2FFEA; }
.bgolor-214 { background-color: #F2FFFE; }
.bgolor-215 { background-color: #F3F8F4; }
.bgolor-216 { background-color: #F4D2F4; }
.bgolor-217 { background-color: #F4D2F4; }
.bgolor-218 { background-color: #F4DCFE; }
.bgolor-219 { background-color: #F5CAFF; }
.bgolor-220 { background-color: #F5EEFD; }
.bgolor-221 { background-color: #F5F7C4; }
.bgolor-222 { background-color: #F7F9D0; }
.bgolor-223 { background-color: #F900F9; }
.bgolor-224 { background-color: #F9D9FF; }
.bgolor-225 { background-color: #F9EEFF; }
.bgolor-226 { background-color: #F9FDFF; }
.bgolor-227 { background-color: #FAECFF; }
.bgolor-228 { background-color: #FAFBDF; }
.bgolor-229 { background-color: #FCFCE9; }
.bgolor-230 { background-color: #FDF2FF; }
.bgolor-231 { background-color: #FE67EB; }
.bgolor-232 { background-color: #FE67EB; }
.bgolor-233 { background-color: #FE8BF0; }
.bgolor-234 { background-color: #FE98F1; }
.bgolor-235 { background-color: #FEA9F3; }
.bgolor-236 { background-color: #FF4848; }
.bgolor-237 { background-color: #FF4AFF; }
.bgolor-238 { background-color: #FF62B0; }
.bgolor-239 { background-color: #FF68DD; }
.bgolor-240 { background-color: #FF73B9; }
.bgolor-241 { background-color: #FF7575; }
.bgolor-242 { background-color: #FF79E1; }
.bgolor-243 { background-color: #FF86C2; }
.bgolor-244 { background-color: #FF86E3; }
.bgolor-245 { background-color: #FF86FF; }
.bgolor-246 { background-color: #FF8A8A; }
.bgolor-247 { background-color: #FF9797; }
.bgolor-248 { background-color: #FF97CB; }
.bgolor-249 { background-color: #FF97E8; }
.bgolor-250 { background-color: #FFA4FF; }
.bgolor-251 { background-color: #FFA8A8; }
.bgolor-252 { background-color: #FFA8D3; }
.bgolor-253 { background-color: #FFACEC; }
.bgolor-254 { background-color: #FFACEC; }
.bgolor-255 { background-color: #FFBBBB; }
.bgolor-256 { background-color: #FFBBDD; }
.bgolor-257 { background-color: #FFBBF7; }
.bgolor-258 { background-color: #FFBBFF; }
.bgolor-259 { background-color: #FFC8E3; }
.bgolor-260 { background-color: #FFC8F2; }
.bgolor-261 { background-color: #FFCAF9; }
.bgolor-262 { background-color: #FFCECE; }
.bgolor-263 { background-color: #FFCEFF; }
.bgolor-264 { background-color: #FFDBFB; }
.bgolor-265 { background-color: #FFDFDF; }
.bgolor-266 { background-color: #FFDFEF; }
.bgolor-267 { background-color: #FFDFF8; }
.bgolor-268 { background-color: #FFDFFF; }
.bgolor-269 { background-color: #FFECEC; }
.bgolor-270 { background-color: #FFECF5; }
.bgolor-271 { background-color: #FFECFF; }
.bgolor-272 { background-color: #FFEEFB; }
.bgolor-273 { background-color: #FFEEFD; }
.bgolor-274 { background-color: #FFFF84; }
.bgolor-275 { background-color: #FFFF99; }
.bgolor-276 { background-color: #FFFFAA; }
.bgolor-277 { background-color: #FFFFB5; }
.bgolor-278 { background-color: #FFFFC8; }
.bgolor-279 { background-color: #FFFFD7; }
.bgolor-280 { background-color: #FFFFE3; }
