@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|IM+Fell+DW+Pica+SC);
/* Font styles
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'IM Fell DW Pica', serif;
-- Not using
font-family: 'Artifika', serif;
font-family: 'PT Serif', serif;
font-family: 'IM Fell English', serif;
*/

html, body {
    height: 100%;
    width: 100%;
    overflow: none;
}

body {
/*    padding-top: 60px;*/
    font-family: 'Georgia', serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h5,h6,h7,.container-fluid {
    font-family: 'IM Fell DW Pica SC', serif;
}

.inline {
    display: inline-block;
}

.logofont {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 1.25em;
}

.navbar .brand {
    padding: 8px 20px 12px;
    margin-top: 2px;
}

input[type="text"],select {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 1.25em;
    height: 30px;
    width: 100%;
    color: gray;
}

input[type="text"]:focus {
    color: #404040;
}

input[type="text"] {
    font-family: 'IM Fell DW Pica', serif;
    font-size: 1.25em;
    height: 16px;
    width: 600px;
    margin-top: 0px;
    margin-bottom: 3px;
}

input#search-submit {
    cursor: pointer;
    border: 0;
    background: white url('../img/magnifying-glass.png');
    width: 24px;
    height: 24px;
    margin: none;
    box-shadow: none;
}

.hero-unit {
    padding: 25px;
}

.main-search label {
    display: none;
}

.main-search p {
    width: 720px;
    height: 20px;
}

.search-options {
    float: right;
    position: absolute;
    padding: 4px 0px 4px 4px;
    right: 0px;
    margin-right: 0;
    left: 130px;
    width: 480px;
}

.search-options h3 {
    margin-left: 5px;
}

.navbar-text a.results {
    color: white;
    padding-top: 11px;
    background: url(../img/push-pin.png) no-repeat left 3px;
    padding-left: 29px;
    margin-right: 5px;
    display: none;
}

.navbar-text a.admin {
    color: white;
    padding-top: 11px;
    background: url(../img/admin.png) no-repeat left 8px;
    padding-left: 25px;
}

.keyboard {
    background: url('../img/keys/keyboard.png') no-repeat 0px 0;
    display: inline-block;
    width: 20px;
    padding: 7px 7px 7px 35px;
    margin-left: 5px;
    height: 25px;
    margin-top: 4px;
/*    background: url('../img/keys/keyboard.png') no-repeat 0px 0;*/
/*    display: inline-block;*/
/*    width: 20px;*/
/*    padding: 7px 7px 7px 35px;*/
/*    margin-left: 5px;*/
/*    height: 25px;*/
}

dt {
    font-weight: normal;
}

dd {
    line-height: 20px;
    padding: 5px 5px 20px 30px;
}

select {
    font-size: 1em;
    width: 95px;
    margin-bottom: 15px;
    height: 28px;
    background: none;
    border: none;
    padding-top: 7px;
}

ul {
    list-style: none;
    text-align: left;
    margin: 0 0 5px 10px;
}

ol {
    margin-left: 75px;
}

label {
    text-align: left;
    float: none;
}

.center {
    text-align: center;
    margin-top: 10px;
}

.total-results {
    font-size: 0.8em;
}

.pagination a:hover, .pagination .active a {
    background-color: rgba(0, 0, 0, 0.05);
}

.well {
    float: right;
    right: 0;
    position: absolute;
    top: 38px;
    max-height: 400px;
    display: none;
    overflow: auto;
}

.resultSquare {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px whiteSmoke dotted;
}

.resultQuery {
    padding: 10px;
    font-weight: bold;
    font-size: 1.25em;
}

.resultTotal {
    font-style: italic;
    color: gray;
}

.resultText {
    display: block;
    color: gray;
}

.resultRow {
    margin-bottom: 10px;
    display: block;
}

.resultDisabled {
    text-decoration: line-through;
    color: grey;
}

#phoneticKeyboard {
    display: block;
    background-color: whiteSmoke;
    border: 1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 870px;
    padding: 10px;
}

footer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0 0 0 0;
}

.row-fluid {
    padding-top: 60px;
}

#mapContainer {
    position: relative;
    margin: 0;
}

#mapContainer, #map {
    height: 100%;
    width: 100%;
}
