{% extends "base.html" %}
{% load i18n humanize %}

{% block extra_scripts %}
{{ block.super }}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ GOOGLE_API_KEY }}"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/colors.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/map.js?_{{ CURRENT_DATE }}"></script>
{{ search_form.media }}
{% endblock %}

{% block extra_links %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/colors.css" /> 
{% endblock %}

{% block navbar %}
<li>
<form id="searchForm">
<span class="search-options">
{% for field in search_options_form %}
        <h3 class="inline">{{ field.label }}</h3>
        <span class="hidden">
        {{ field.label_tag }}
        </span>
        {{ field.errors }}
        {{ field }}
{% endfor %}
<input type="submit" title="{% trans "Search" %}" id="search-submit" value="" />
<!--<a href="#" id="toggleKeyboard" class="keyboard">{% trans "Keyboard" %}</a>-->
</span>
<span class="main-search">
{{ search_form.as_p }}
</span>
</form>
</li>
{% endblock %}

{% block login %}
    <a href="javascript:void(0);" class="results" id="toggleResults">{% trans "Results" %}</a>
    {{ block.super }}
{% endblock %}

{% block startherounit %}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block container %}
<div id="map" ></div>
<div class="well">
  <span id="searchs"></span>
  <span class="permalink">{% trans "Link" %} <input type="text" id="link" /></span>
</div>

{% endblock %}
