{% extends "base.html" %}
{% load i18n humanize %}

{% block extra_scripts %}
{{ block.super }}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ GOOGLE_API_KEY }}"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/map.js"></script>
{% endblock %}

{% block body_attrs %}
onload="initialize()"
{% endblock %}

{% block navbar %}
<li>
<form id="searchForm">
<span class="search-options">
{% for field in search_options_form %}
        <h3 class="inline">{{ field.label }}</h3>
        {{ field.errors }}
        {{ field }}
{% endfor %}
<input type="submit" title="{% trans "Search" %}" id="search-submit" value="">
</span>
<span class="main-search">
{{ search_form.as_p }}
</span>
</form>
</li>
{% endblock %}


{% block startherounit %}{% endblock %}

{% block sidebar %}
{% endblock %}

{% block container %}
<div id="map" ></div>
<div class="well">
  
</div>

{% endblock %}
