{% extends "base.html" %}
{% load i18n humanize %}

{% block extra_scripts %}
{{ block.super }}
{% endblock %}

{% block startbody %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block herounit %}
<h3>{% trans "Lexical Entry" %}</h3>
<span class="search-options">
{% for field in search_options_form %}
        <h3 class="inline">{{ field.label }}</h3>
        {{ field.errors }}
        {{ field }}
{% endfor %}
<input type="submit" title="{% trans "Search" %}" id="search-submit" value="">
</span>
<span class="main-search">
{{ search_form.as_p }}
</span>
{% if not q %}
<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
{% else %}
    {% if not regexp_error %}
        {% if entries.paginator.count > 0 %}
        <span class="total-results">
            {{ entries.paginator.count|intcomma }} 
            {% if entries.paginator.count < 2 %}
                {% trans "result in" %}
            {% else %}
                {% trans "results in" %}
            {% endif %}
            {{ query_time }} {% trans "seconds" %}.
        </span>
        {% else %}
        <span class="total-results">
        {% blocktrans %}
            No results. Try to <a href="javascript:void(0);" class="reset-facets">resetting the facets</a> or changing the category.
        {% endblocktrans %}
        </span>
        {% endif %}
    {% else %}
    <span class="total-results">
    {% blocktrans %}
        No results. The regular expression provided may not be correct. Take a look on the <a href="http://docs.python.org/library/re.html">official documentation</a>.
    {% endblocktrans %}
    </span>
    {% endif %}
{% endif %}
<!--<p><input type="text"/><a class="btn primary large">Learn more &raquo;</a></p>-->
{% endblock %}


{% block content %}
{% endblock %}

{% block endbody %}
{% endblock %}
